<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看所有商品分类</title>
    <!-- <js file="__PUBLIC__/Js/jQuery/1.7.2/jQuery.min.js" /> -->
    <js file="__PUBLIC__/Js/addToCart.js" />
    <script type="text/javascript">
        var addURL = "{:U(MODULE_NAME.'/Cart/addToCart')}";
    </script>

    <!-- header information -->
    <include file="Common:header" />
    
</head>
<body>
    <div class="container">
        <include file="Common:nav" />

        <h1>所有分类</h1>
        <select name="category" class="input-medium" onchange="document.location.href=this.value">
            <option> 请选择 </option>
            <foreach name="cate" item="v">
                <option value="{:U(MODULE_NAME.'/Product/showByCate', array('cid' => $v['id'], 'cateTitle' => $v['title']))}">{$v.title}</option>
            </foreach>
        </select>

        <h1>最新上架</h1>
        <div class="row-fluid">
            <ul class="thumbnails">
                <foreach name="products" item="v">
                  <li class="span3">
                    <div class="thumbnail">
                        <img src="http://localhost/agentapp/{$v.image}" width="60px">
                        <div class="caption">
                            <h3>{$v.title}</h3>
                            <p>
                                价格：{$v.price}（元)</br>
                                库存：{$v.remainder}</br>
                                配送重量（kg）：{$v.weight}</br>
                                上架时间：{$v.time|date="Y年m月d日", ###}</br>
                                备注：{$v.remark}
                            </p>
                            <if condition="$v.remainder eq 0">
                                <a href="#" class="btn btn-primary addToCart">
                                    商品无库存</a>
                                    <else />
                                    <a href="{:U(MODULE_NAME.'/Cart/addToCart', array('pid' => $v['id']))}" class="btn btn-primary addToCart">
                                        添加至购物车
                                        <input type="hidden" class="pid" value="{$v.id}">
                                        <input type="hidden" class="remainder" value="{$v.remainder}">
                                    </a>
                                </if>
                            </div>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div> <!-- /row-fluid -->
    </div> <!-- /container -->
</body>
</html>